<div>
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            <span style='color: white;'> {{ customerInfo.name }} </span>
        </div>
        <div class='panel-body'>
            <img class='img img-responsive img-rounded' src='{{ customerInfo.id | photoUrl }}' title='Photo of Customer {{ customerInfo.name }}'
                alt="...">

            <div class="caption">
                <h3> {{ customerInfo.name }} </h3>
                <p>
                    {{ customerInfo.remarks }}
                </p>

                <p>
                    <a data-toggle='modal' [attr.data-target]="'#customer' + customerInfo.id"
                        class="btn btn-success" role="button">Details</a>
                    <a class="btn btn-default" role="button">Dashboard</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="customer{{ customerInfo.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
            Customer Details of '{{ customerInfo.name }}'
        </h4>
      </div>
      <div class="modal-body">
        <customer-detail-viewer [customerDetail]='customerInfo'></customer-detail-viewer>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>